.table-wrap{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.table{display: flex;align-items: center;justify-content: center;}
h2{text-align: center}
p{text-align: center}
tbody{text-align: center; }
tbody th{width: 16%; background-color: yellowgreen; cursor: pointer;}
tbody th:first-child{border-top-left-radius: 5px;}
tbody th:last-child{border-top-right-radius: 5px;}
tbody tr:nth-child(2n){background-color: lightgray}
tbody tr:last-child td:first-child{border-bottom-left-radius: 5px;}
tbody tr:last-child td:last-child{border-bottom-right-radius: 5px;}
tbody tr:hover{box-shadow: 0px 7px 47px -7px rgba(196, 205, 199, 0.75);}
form{margin-top: 2px;margin-bottom: 2px;}
/*.fa-filter{color: #48ba1e;}*/
input{margin-left: 5px; padding-left: 5px; outline: none; border-radius: 5px;border: 1px solid gainsboro}
label{font-size: 18px; font-weight: 600;}
input:focus{box-shadow: 0px 0px 5px 0px rgb(72, 186, 30);}
.addTr{margin-top: 20px; border-radius: 5px; background-color: #f7f5ff;padding: 10px}
.my-pagination{margin-top: 20px;}
.my-pagination /deep/ .ngx-pagination .current{padding: 0.1875rem 0.625rem; background: #48ba1e; color: #fefefe; cursor: default;border-radius: 5px;}
.my-pagination /deep/ .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{content: "\2192"}
.my-pagination /deep/ .ngx-pagination .pagination-previous a::before{content: "\2190"}
.my-pagination /deep/ .ngx-pagination .pagination-previous.disabled::before{content: "\2190"}
.my-pagination /deep/ .ngx-pagination .pagination-next.disabled::after{content: "\2192"}
.my-pagination /deep/ .ngx-pagination .pagination-next a:hover{border-radius: 5px;}
.my-pagination /deep/ .ngx-pagination .pagination-previous a:hover{border-radius: 5px;}
.my-pagination /deep/ .ngx-pagination li a{border-radius: 5px; outline: none}

.app-wrapper{display: flex;width: 100%;height: 100vh; align-items: center; justify-content: center;padding-top: 20px;padding-bottom: 20px;position: fixed; top: 0;z-index: 1000; }
.overflow{display: flex;align-items: center; justify-content: center;z-index: 100; position: relative; padding: 40px; width: 80%;box-shadow: 0px 7px 47px -7px rgba(0,0,0,0.75);border-radius: 10px; background-color: white;}
div{display: inline-flex;align-items: center; justify-content: space-around}
div button{outline: none; border: none; color: #48ba1e; background-color: lightgray; cursor: pointer; margin-left: 20px;border-radius: 5px;font-size: 25px; padding: 5px;}
div button:hover{box-shadow: 0px 0px 5px 0px rgb(72, 186, 30);}

button{outline: none; border: none; color: #48ba1e; background-color: lightgray; cursor: pointer; margin-left: 20px;border-radius: 5px;font-size: 18px; padding: 5px}
button:hover{box-shadow: 0px 0px 5px 0px rgb(72, 186, 30);}

.cont{display: flex;align-items: center;justify-content: center;flex-direction: column;}

.addTr b:nth-child(2n){background-color: lightgray; border-radius: 5px; }
.addTr b{background-color: #48ba1e; border-radius: 5px; padding: 5px; margin-left: 5px;}