<div class="app-wrapper" *ngIf="showButtons">
    <div class="overflow">
    <h1>Оберіть набір даних:</h1>
        <button (click)="getData('small')">Малий</button>
        <button (click)="getData('middle')">Середній</button>
        <button (click)="getData('large')">Великий</button>
    </div>
</div>

<div class="table-wrap" *ngFor="let id of [mIndex]; let i = index;">
    <table class="table" *ngIf="tableHeader">
        <tr *ngIf="tableHeader">
            <th (click)="[ toggleIndex(), sortType('index') ]" >№</th>
            <th (click)="[ toggleId(), sortType('id') ]" >{{ tableHeader.id }}</th>
            <th (click)="[sortType('name'), toggleName()]" >{{ tableHeader.name }}</th>
            <th (click)="[sortType('price'), togglePrice()]" >{{ tableHeader.price}}</th>
            <th *ngIf="tableHeader.quantity" (click)="[sortType('quantity'), toggleQuantity()]" >{{ tableHeader.quantity}}</th>
            <th *ngIf="tableHeader.value" (click)="[sortType('value'), toggleValue()]" >{{ tableHeader.value}}</th>
        </tr>
        <tr *ngIf="tableHeader">
            <td>
                <form id="filterIndex">
                    <i class="fa fa-filter" aria-hidden="true"></i><input  [(ngModel)]="filterIndex" type="text" name="filterIndex"/>
                </form>
            </td>
            <td>
                <form id="filterId">
                    <i class="fa fa-filter" aria-hidden="true"></i><input  [(ngModel)]="filterId" type="text" name="inputId"/>
                </form>
            </td>
            <td>
                <form id="filter">
                    <i class="fa fa-filter" aria-hidden="true"></i><input  [(ngModel)]="term" type="text" name="inputName"/>
                </form>
            </td>
            <td>
                <form id="filterPrice">
                    <i class="fa fa-filter" aria-hidden="true"></i> <input  [(ngModel)]="filterPrice" type="text" name="inputPrice"/>
                </form>
            </td>
            <td *ngIf="tableHeader.quantity">
                <form id="filterQuantity">
                    <i class="fa fa-filter" aria-hidden="true"></i><input  [(ngModel)]="filterQuantity" type="text" name="inputQuantity"/>
                </form>
            </td>
            <td *ngIf="tableHeader.value">
                <form id="filterValue">
                    <i class="fa fa-filter" aria-hidden="true"></i><input  [(ngModel)]="filterValue" type="text" name="inputValue"/>
                </form>
            </td>
        </tr>
        <tr (click)="[getProductsId(item), toggleTr()]"
            *ngFor="let item of products | filter: term | filterIndex: filterIndex | filterId: filterId | filterPrice: filterPrice | filterQuantity: filterQuantity | filterValue: filterValue | paginate: { itemsPerPage: 15, currentPage: p[i], id: id} "
            [attr.data-attribute]="item[0]">
            <td>{{ item[i] }}</td>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td *ngIf="item[3]">{{ item[3] }}</td>
            <td *ngIf="item[4]">{{ item[4] }}</td>
        </tr>
    </table>
    <div *ngIf="showTr" class="addTr"><span>Обранний елемент:</span>
        <b>{{ tableHeader.id }} : {{ newTtableHeader[0] }}</b>
        <b>{{ tableHeader.name }} : {{ newTtableHeader[1] }}</b>
        <b>{{ tableHeader.price}} : {{ newTtableHeader[2] }}</b>
        <b *ngIf="tableHeader.quantity">{{ tr.quantity}} : {{ newTtableHeader[3] }}</b>
        <b *ngIf="tableHeader.value">{{ tableHeader.value}} : {{ newTtableHeader[4] }}</b>
    </div>
    <pagination-controls *ngIf="products"  class="my-pagination" previousLabel="Попередня" nextLabel="Наступна"
                          (pageChange)="p[i] = $event" [id]="id" ></pagination-controls>
</div>


