button{outline: none; border: none; color: #48ba1e; background-color: lightgray; cursor: pointer; margin-left: 20px;border-radius: 5px;font-size: 18px; padding: 7px;}
button:hover{box-shadow: 0px 0px 5px 0px rgb(72, 186, 30);}
